<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Entrada</th>
            <th scope="col">Saída</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of lstAgendamento; let i = index">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name | titlecase}}</td>
            <td>{{item.beginDate | date:'dd/MM/yyyy'}}</td>
            <td>{{item.endDate | date:'dd/MM/yyyy'}}</td>

            <td>
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" (click)="addNewItem(item)">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteItem(item.id)">Excluir</button>
                </div>
            </td>
    </tbody>
</table>