<div class="container mt-5">
    <div class="row">
        <h1>Book your stay:</h1>
    </div>

    <div class="row">

        <div class="col-md-5 mt-2">

            <form [formGroup]="agendamentoForm" (submit)="agendaSubmit()">
                <div class="row mb-1">
                    <div class="form-group">
                        <label for="nomeCliente">Name: </label>
                        <input type="text" class="form-control" id="nomeCliente" formControlName="txtNomeCliente">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="picker">Start and End Date: </label>
                        <mat-form-field appearance="outline">
                            <mat-label></mat-label>
                            <mat-date-range-input id="picker" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Start Date">
                                <input matEndDate formControlName="end" placeholder="End Date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>

                <button [disabled]="!agendamentoForm.valid" type="submit" class="btn btn-success ">Book</button>
                <button type="button" (click)="updateItem()" [disabled]="!isUpdate"  class="btn btn-success m-3">Update Book</button>
            </form>
                

        </div>

        <div class=" painel col-md-6 col-sm-12 ms-auto">
            <div class="container p-4 ">
                <h2>Schedulle List:</h2>
                <app-grid-agendamentos (newItemEvent)='addItem($event)'></app-grid-agendamentos>
            </div>
        </div>

    </div>
</div>